<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-2.5.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	>
	
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean class="com.sl.global.util.SpringContextUtil"></bean>
	<!-- 加载配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:hikaricp.properties</value>
		</property>
	</bean>
	<!-- 配置数据源 -->
	<bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="shutdown">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="${hikaricp.jdbc.driverClassName}"/>
                <property name="jdbcUrl" value="${hikaricp.url}"/>
                <property name="username" value="${hikaricp.username}"/>
                <property name="password" value="${hikaricp.password}"/>
                <property name="connectionTestQuery" value="${hikaricp.connectionTestQuery}"/>
                <property name="connectionTimeout" value="${hikaricp.connectionTimeout}"/>
                <property name="idleTimeout" value="${hikaricp.idleTimeout}"/>
                <property name="maxLifetime" value="${hikaricp.maxLifetime}"/>
                <property name="maximumPoolSize" value="${hikaricp.maximumPoolSize}"/>
                <property name="minimumIdle" value="${hikaricp.minimumIdle}"/>
            </bean>
        </constructor-arg>
    </bean>
    <!-- 配置sessionFactory -->
	<bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="hikariDataSource"></property> 
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath*:com/sl/portal/entity/hibernate/</value>
				<value>classpath*:com/sl/wholesale/entity/hibernate/</value>
		    </list>
		</property>
		<property name="hibernateProperties">
			<props>
			<prop key="hibernate.dialect">
				org.hibernate.dialect.MySQL5Dialect
			</prop> 
			<prop key="hibernate.show_sql">true</prop> 
			<prop key="hibernate.format_sql">true</prop>
			</props> 
		</property>
	</bean>
	
	<!-- 配置hibernate 的事务管理器 -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	<!-- 配置事务属性，get方法只读 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="edit*" propagation="REQUIRED"/>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="list*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="find*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="query*" propagation="REQUIRED"/>
			<tx:method name="get*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	<!-- 配置事务切入点,再把事务属性和事务切入点关联起来 -->
	<aop:config>
		<aop:pointcut expression="within(com.sl..*)" id="servicePointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="servicePointcut"/>
	</aop:config>
	<!-- 配置自定义切入点（完成日志及路径分析权限控制等功能） -->
<!-- 	<bean id="optLogger" class="com.laven.aop.OptLogger" ></bean>
	<aop:config>
		<aop:pointcut id="servicepointcut" expression="execution(public com.sl.*.action.*.*(..))" />
		<aop:aspect id="loggeraspect" ref="optLogger">
			<aop:before method="mybefore" pointcut-ref="servicepointcut" />
			<aop:after-returning method="myafterReturning" returning="retVal" pointcut-ref="servicepointcut" />
			<aop:around method="logger2" pointcut-ref="servicepointcut" />
			<aop:after-throwing method="myafterException" throwing="e" pointcut-ref="servicepointcut" />
			<aop:after method="myafter" pointcut-ref="servicepointcut" />
		</aop:aspect>
	</aop:config> -->
	
	
	<bean id="userDao" class="com.sl.portal.user.dao.impl.UserDaoImpl"> 
		<property name="sessionFactory" ref="mySessionFactory"></property> 
	</bean>
	<bean id="userService" class="com.sl.portal.user.service.impl.UserServiceImpl">
	</bean>
	<bean id="roleDao" class="com.sl.portal.role.dao.impl.RoleDaoImpl"> 
		<property name="sessionFactory" ref="mySessionFactory"></property> 
	</bean>
	<bean id="roleService" class="com.sl.portal.role.service.impl.RoleServiceImpl">
	</bean>
	<bean id="companyDao" class="com.sl.wholesale.company.dao.impl.CompanyDaoImpl"> 
		<property name="sessionFactory" ref="mySessionFactory"></property> 
	</bean>
	<bean id="companyService" class="com.sl.wholesale.company.service.impl.CompanyServiceImpl">
	</bean>
	<bean id="goodsTypeDao" class="com.sl.wholesale.goodstype.dao.impl.GoodsTypeDaoImpl"> 
		<property name="sessionFactory" ref="mySessionFactory"></property> 
	</bean>
	<bean id="goodsTypeService" class="com.sl.wholesale.goodstype.service.impl.GoodsTypeServiceImpl">
	</bean>
	<bean id="goodsDao" class="com.sl.wholesale.goods.dao.impl.GoodsDaoImpl"> 
		<property name="sessionFactory" ref="mySessionFactory"></property> 
	</bean>
	<bean id="goodsService" class="com.sl.wholesale.goods.service.impl.GoodsServiceImpl">
	</bean>
</beans>