<?xml version="1.0" encoding="UTF-8"?> 

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
								http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
								
  <display-name>SLSYS</display-name>
  
  <!-- 编译路径下寻找配置文件 -->
  <context-param>
	<param-name>contextConfigLocation</param-name><!-- 这个变量名是固定的吗？ -->
	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  <!-- 绑定监听器，启动服务器时初始化Spring类IOC容器的listner -->
  <listener>
	<listener-class>
	  org.springframework.web.context.ContextLoaderListener
	</listener-class>
  </listener>
  
  <!-- 配置Struts2过滤器，接管servlet的请求调度 -->
  <filter> 
	<filter-name>StrutsFilter</filter-name> 
	<filter-class>
		org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
	</filter-class> 
  </filter>
  <filter-mapping> 
	<filter-name>StrutsFilter</filter-name> 
	<url-pattern>/*</url-pattern>
  </filter-mapping> 
  
  <welcome-file-list>  
    <welcome-file>/WEB-INF/jsp/portal/login.jsp</welcome-file>  
</welcome-file-list> 
</web-app>
